[submodule "libs/Catch2"]
	path = libs/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "libs/eigen"]
	path = libs/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "libs/pybind11"]
	path = libs/pybind11
	url = ../../pybind/pybind11
	branch = stable
[submodule "libs/ftxui"]
	path = libs/ftxui
	url = https://github.com/ArthurSonzogni/ftxui.git
